/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17-Jun-2024, 16:53:19
    Author     : User
*/

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', sans-serif;
    background-color: antiquewhite;
    min-height: 100%;
}

body.index {
    background-image: url('images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    min-height: 100vh;
}


h1 {
    font-family: 'Roboto Slab', sans-serif;
}

p {
    font-family: Geneva, sans-serif;
}

nav {
    font-family: Tahoma, sans-serif;
    font-weight: bold;
    background-color: #66752e;
    color: #fff;
    padding: 5px 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .nav-links {
    display: flex;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

nav .logo-placeholder img{
    max-height: 50px;
    display: inline-block;
    vertical-align: middle;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 43px;
    right: 0;
    background-color: rgba(255, 255, 255, 0.7);
    min-width: 160px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.dropdown-content a:hover {
    background-color: #f5f5dc;
}

.dropdown .fas.fa-user {
    font-size: 24px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 50px;
    text-align: center
}

.card {
    display: flex;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

.content {
    flex: 1;
    padding: 20px;
    text-align: justify;
}

.image-container {
    max-width: 54%;
}

.image-container img {
    max-width: 100%;
    border-radius: 8px;
}

.card h1, .card h2, .card p {
    margin-top: 0;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #66752e;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #b1c272;
}

/* Card styles */
.card {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

.card h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.card form {
    display: flex;
    flex-direction: column;
}

.card .input-group {
    margin-bottom: 20px;
}

.card label {
    display: block;
    margin-bottom: 5px;
}

.card input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
}

.card button {
    padding: 10px 20px;
    background-color: #66752e;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.card button:hover {
    background-color: #b1c272;
}

.card p {
    margin-top: 20px;
}

.card p a {
    color: #66752e;
    text-decoration: none;
}

.card p a:hover {
    text-decoration: underline;
}

.dashboard-section {
    display: flex;
    flex-wrap: wrap;
}

.add-card {
    margin: 0 auto;
    max-width: 400px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    justify-content: center;
}

.add-card h2 {
    margin-bottom: 20px;
}

.add-card form {
    display: flex;
    flex-direction: column;
}

.add-card .input-group input,
.add-crad .input-group textarea{
    margin-bottom: 5px;
    font-family: Geneva, sans-serif;
}

.add-card label {
    display: block;
    margin-bottom: 5px;
    font-family: Geneva, sans-serif;
}

.add-card input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
}

.add-card button {
    padding: 10px 20px;
    background-color: #66752e;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 150px;
}

.add-card button:hover {
    background-color: #b1c272;
}

.total {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    padding: 20px;
    margin-right: 20px;
    width: 200px;
    height: 100px;
}

.featured {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    padding: 20px;
    margin-right: 20px;
    width: 200px;
    height: 175px;
}

.big-card {
    flex-grow: 1;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    padding: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.full-width {
    width: 70%;
}

.chart-container {
    max-width: 300px;
    margin: 0 auto;
}

.chart-image {
    max-width: 100%;
    height: auto;
}

.filter-section {
    margin-bottom: 20px;
    font-family: Geneva, sans-serif;
}

.filter-section label {
    margin-right: 10px;
    font-family: Geneva, sans-serif;
}

.species-table {
    width: 100%;
    border-collapse: collapse;
    font-family: Geneva, sans-serif;
}

.species-table th, .species-table td {
    padding: 5px;
    border: 1px solid #fff;
    font-family: Geneva, sans-serif;
}

.species-table th {
    background-color: #66752e;
    color: white;
    font-family: Geneva, sans-serif;
}

.species-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.species-table tr:hover {
    background-color: #ddd;
}

.edit-card {
    margin: 40px auto;
    max-width: 400px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    justify-content: center;
    font-family: Geneva, sans-serif;
}

.edit-card h2 {
    font-family: 'Roboto Slab', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.input-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 3px;
}

.input-group input,
.input-group select {
    width: calc(50% - 5px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
}

.input-group input:first-child {
    margin-right: 10px;
}

.container .signup-card {
    max-width: 400px; 
    width: 100%;
    margin: auto;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    justify-content: center;
}

.signup-card .input-group {
    margin-bottom: 10px;
}

.signup-card label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

.signup-card input,
.signup-card select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
}

.signup-card .button-group {
    display: flex;
    justify-content: space-between;
}

.signup-card button {
    width: 48%;
}

.signup-card p {
    font-size: 15px;
    text-align: left;
}

.container .login-card {
    max-width: 400px;
    width: 100%;
    margin: 60px auto;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    justify-content: center;
}

.login-card {
    margin: 0 auto;
    max-width: 400px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px; 
}

.login-card h2 {
    margin-bottom: 20px;
}

.login-card form {
    display: flex;
    flex-direction: column;
}

.login-card .input-group {
    margin-bottom: 20px;
}

.login-card label {
    display: block;
    margin-bottom: 5px;
}

.login-card input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
}

.login-card button {
    padding: 10px 20px;
    background-color: #66752e;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-card button:hover {
    background-color: #b1c272;
}

.login-card p {
    margin-top: 20px;
}

.login-card p a {
    color: #66752e;
    text-decoration: none;
}

.login-card p a:hover {
    text-decoration: underline;
}

.button-group {
    display: flex;
    justify-content: space-between;
}

.button-group button {
    padding: 10px 20px;
    background-color: #66752e;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-group button:hover {
    background-color: #b1c272;
}

footer {
    font-family: Tahoma, sans-serif;
    font-weight: bold;
    background-color: #212721;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    width: 100%;
    position: absolute;
    bottom: 0;
}

