        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        header {
            background-image: url('https://images.unsplash.com/photo-1557115580-d2437a3a6449?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); /* Replace with your image URL */
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            color: white;
            padding: 1rem 0;
            text-align: center;
            position: relative;
            z-index: 1;
        }
        
        header::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0, 0, 0, 0.5); /* Dark overlay with opacity */
            z-index: -1;
        }

        nav {
            display: flex;
            justify-content: center;
            background-color: #333;
        }

        nav img {
            max-height: 50px;
            margin-right: 20px;
        }

        nav a {
            color: white;
            text-decoration: none;
            text-align: center;
            display: inline-block;
            width: 100px;
            height: 50px;
            line-height: 50px;
            background: #333;
        }

        nav a:hover {
            background-color: #555; /* Change the background color on hover */
        }

        .main {
            display: flex;
            justify-content: space-between;
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .main h2 {
            text-align: center;
        }

        .slideshow-container {
            position: relative;
            max-width: 300px;
            margin: auto;
        }
        .slides {
            display: none;
            width: 300px;
            height: 200px;
        }
        .slides img {
            width: 300px;
            height: 200px;
            object-fit: cover;
        }
        h2 {
            margin-top: 20px;
        }

        form {
            margin-top: 20px;
        }

        label {
            display: block;
            margin-bottom: 5px;
        }

        input[type="text"],
        input[type="password"],
        input[type="date"],
        select {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        input[type="submit"] {
            background-color: #2359B2;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 4px;
            cursor: pointer;
            display: block;
            width: 100%;
        }

        input[type="submit"]:hover {
            background-color: #003366;
        }

        .status {
            margin-top: 20px;
            padding: 20px;
            background-color: #e0e0e0;
            border-radius: 4px;
        }

        .status h3 {
            margin-top: 0;
        }

        .payment-button {
            background-color: #28a745;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 4px;
            cursor: pointer;
            text-decoration: none;
            display: inline-block;
        }

        .payment-button:hover {
            background-color: #218838;
        }

        footer {
            background-color: #333;
            color: white;
            padding: 10px 0; /* Adjust padding */
            width: 96.5%;
            text-align: center;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 20px;
            position: fixed;
            bottom: 0;
            left: 0;
        }

        footer p {
            margin: 0;
        }

        footer .contact-info {
            font-size: 0.9em;
        }

        .booking-nav {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #333;
        }
        
        .booking {
            color: white;
            text-decoration: none;
            text-align: center;
            display: inline-block;
            width: 100px;
            height: 50px;
            line-height: 50px;
            background: #333;
        }

        .booking-nav .booking {
            color: white;
            text-decoration: none;
            text-align: center;
            display: inline-block;
            width: 100px;
            height: 50px;
            line-height: 50px;
            background: #333;
            cursor: pointer;
        }

        .booking-nav .booking:hover {
            background-color: #555; /* Change the background color on hover */
        }

        .dropdown {
            position: relative;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #333; /* Change background color */
            min-width: 160px;
            z-index: 1;
            border-radius: 5px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .dropdown-content a {
            color: white;
            width: 100%;
            height: 50px;
            line-height: 50px;
            text-decoration: none;
            display: block;
            padding: 10px; /* Add padding */
            text-align: center;
            background-color: #333;
        }

        .dropdown-content a:hover {
            background-color: #555; /* Change hover background color */
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }
        
        .active, .dot:hover {
            background-color: #717171;
        }
        .description {
            flex: 1;
            padding-left: 20px;
        }

        .goback-btn {
            background-color: #B27723;
            color: white;
            border: none;
            padding: 15px 30px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin-top: 20px;
            cursor: pointer;
            border-radius: 8px;
            transition: background-color 0.3s;
        }

        .goback-btn:hover {
            background-color: #8a5821;
        }

        .book-now-btn {
            background-color: #2359B2;
            color: white;
            border: none;
            padding: 15px 30px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin-top: 20px;
            cursor: pointer;
            border-radius: 8px;
            transition: background-color 0.3s;
        }

        .book-now-btn:hover {
            background-color: #003366;
        }
        .update-profile-btn {
            background-color: #2359B2;
            color: white;
            border: none;
            padding: 15px 30px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin-top: 20px;
            cursor: pointer;
            border-radius: 8px;
            transition: background-color 0.3s;
        }

        .update-profile-btn:hover {
            background-color: #003366;
        }
        
        ul {
            text-align: left;
            margin-left: 20px;
        }
        table {
            margin: 20px auto;
            border-collapse: collapse;
            width: 80%;
        }
        th, td {
            border: 1px solid #ccc;
            padding: 10px;
        }
        th {
            background-color: #f2f2f2;
        }
        .dot-container {
            text-align: center;
            padding: 20px;
            background: #ddd;
        }
        .dot {
            cursor: pointer;
            height: 10px;
            width: 10px;
            margin: 0 2px;
            background-color: #bbb;
            border-radius: 10%;
            display: inline-block;
            transition: background-color 0.6s ease;
        }
        .active, .dot:hover {
            background-color: #717171;
        }
        .description {
            flex: 1;
            padding-left: 20px;
        }
        .packages {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 20px;
        }
        .package {
            position: relative;
            width: 300px;
            height: 400px;
            margin: 15px;
            border: 1px solid #ccc;
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s;
        }
        .package img {
            width: 100%;
            height: 200px;
            object-fit: cover;
            border-radius: 5px 5px 0 0;
        }
        .package:hover {
            transform: translateY(-10px);
        }
        .package h3 {
            margin: 10px 0;
        }
        .package p {
            margin: 10px 0;
            color: #555;
        }
        .package a {
            text-decoration: none;
            color: black;
        }
        .package-details {
            padding: 15px;
            text-align: center;
        }
        
        .login {
            color: white;
            text-decoration: none;
            text-align: center;
            display: inline-block;
            width: 100px;
            height: 50px;
            line-height: 50px;
            background: #333;
        }
        .login-nav {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #333;
        }
        .login-nav .login {
            color: white;
            text-decoration: none;
            text-align: center;
            display: inline-block;
            width: 100px;
            height: 50px;
            line-height: 50px;
            background: #333;
            cursor: pointer;
        }
        .login-nav .login:hover {
            background-color: #555; /* Change the background color on hover */
        }
        body {
            font-family: Arial, sans-serif;
            background-color: #f9f9f9;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .chat-container {
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            width: 350px;
            max-width: 100%;
            overflow: hidden;
        }

        .chat-header {
            background-color: #0084ff;
            color: #fff;
            padding: 10px;
            font-size: 18px;
            text-align: center;
        }

        .chat-body {
            padding: 20px;
            height: 300px;
            overflow-y: auto;
        }

        .message {
            margin-bottom: 15px;
            display: flex;
        }

        .user-message {
            justify-content: flex-end;
        }

        .message-text {
            background-color: #0084ff;
            color: #fff;
            border-radius: 20px;
            padding: 10px 15px;
            max-width: 70%;
            word-wrap: break-word;
        }

        .bot-message {
            justify-content: flex-start;
        }

        .input-container {
            padding: 20px;
            display: flex;
            background-color: #f5f5f5;
        }

        #userInput {
            flex: 1;
            border: none;
            padding: 10px;
            border-radius: 20px;
            margin-right: 10px;
        }

        #submitBtn {
            background-color: #0084ff;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 20px;
            cursor: pointer;
            outline: none;
        }
